[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

[Dd]ebug/
[Rr]elease/
[Rr]eleasePublic/

[Dd]ocumentation/
*.StackRow

[Aa]piCompatibilityCache/

*.VC.VC.opendb

*.apk
*.aab
*.unitypackage

.collabignore

[Aa]ssets/AssetStoreTools*

*.prefab.tmp
*.prefab.meta.tmp

.mono/
data/

[Aa]utogenerated/

[Ss]cripts/AssemblyInfo.cs

[Tt]humbnailCache/
[Tt]humbnailCache.meta

[Pp]ackages/manifest.json.backup
[Pp]ackages/packages-lock.json

.idea/
.vs/
*.dotSettings
.vscode/

*.pidb.lock
*.pdb.leta
